body {

background: linear-gradient(135deg,#ff9a9e,#a18cd1);

min-height:100vh;

font-family: Arial;
}

.card {

border-radius:15px;

background:white;

box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

textarea{

height:120px;

border-radius:10px;
}

.btn-primary{

background:linear-gradient(45deg,#ff6a00,#ee0979);

border:none;
}

.btn-success{

background:linear-gradient(45deg,#00b09b,#96c93d);

border:none;
}

.btn-danger{

background:linear-gradient(45deg,#ff416c,#ff4b2b);

border:none;
}

.btn-info{

background:linear-gradient(45deg,#36d1dc,#5b86e5);

border:none;
}

#timer{

font-size:50px;

font-weight:bold;

color:#ff006e;
}